body {
    background-color: gray;
}

.box {
    height: 100px;
    width: 100px;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
}

.gradient-linear {
    background-image: linear-gradient(to left bottom,blue, green);
}

.gradient-radial {
    background-image: radial-gradient(circle at top,orange, red);
}